<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBxqxxqqAfiqoYymj70Zg6Qj1Ulc9_ElM</string>
	<key>GCM_SENDER_ID</key>
	<string>546699261245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.viteats</string>
	<key>PROJECT_ID</key>
	<string>viteats-hackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>viteats-hackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546699261245:ios:fe18dc6814b1cd1d4d4154</string>
</dict>
</plist>